* {
    margin: 0;
    padding: 0;
}

a {
    /* second thought, have it removed first */
    text-decoration: none;
}

li {
    /* removed dots */
    list-style: none;
}

em,
i {
    /* removed italic and oblique */
    font-style: normal;
}

html {
    /* global font style */
    font-family: 'Oswald', sans-serif;
}

/* background image */
#fullpage .section {
    background-size: cover;
}

#fullpage .section:nth-child(1) {
    background: url(../img/bg1.jpeg) no-repeat;
    text-align: left;
    padding-left: 770px;
}

#fp-nav ul li a span {
    background: #fff;
}

/* navbar position */
#menu {
    position: fixed;
    left: 12px;
    top: 50%;
    width: 84px;
    transform: translateY(-50%);
    z-index: 10;
}

#menu li {
    margin-bottom: 20px;
    font-size: 18px;
}

#menu li a {
    display: block;
    width: 70%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
}

#menu .active a {
    border-bottom: 2px solid goldenrod;
}

/* shared styles */
.wrapper {
    position: relative;
    width: 1000px;
    margin: auto;
}

/* Home */
#fullpage .section:nth-child(1) p {
    color: #fff;
    font-size: 25px;
}

#fullpage .section:nth-child(1) h1 {
    color: #fff;
    font-size: 50px;
}

/* About */
.title {
    position: relative;
    height: 84px;
    margin-top: 20px;
}

.title p {
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    font-size: 25px;
    text-align: center;
}

#fullpage .section:nth-child(2) .headshot {
    width: 250px;
    height: 250px;
}

#fullpage .section:nth-child(2) .headshot img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#fullpage .section:nth-child(2) .text {
    width: 700px;
    height: 350px;
    /* padding: 30px; */
    color: #fff;
    /* background: rgba(228, 219, 219, 0.5); */
    box-sizing: border-box;
    font-size: 24px;
}

#fullpage .section:nth-child(2) .text p {
    line-height: 50px;
}

/* text and image, two parts design, son absolute and father relative */
.fl {
    float: left;
}

.fr {
    float: right;
}

/* Skills */
.skills {
    text-align: center;
    color: #fff;
}

.skills h3 {
    font-size: 35px;
    margin: -20px 0 20px 0;
}

.skills li {
    display: inline-block;
    margin: 38px 25px;
}

/* lapse effect in section 3 */

.delay1 {
    animation-delay: 0.05s;
    animation-fill-mode: forwards;
}

.delay2 {
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

.delay3 {
    animation-delay: 0.15s;
    animation-fill-mode: forwards;
}

.delay4 {
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.delay5 {
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

.delay6 {
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.delay7 {
    animation-delay: 0.35s;
    animation-fill-mode: forwards;
}

.delay8 {
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.delay9 {
    animation-delay: 0.45s;
    animation-fill-mode: forwards;
}

.delay10 {
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

/* projects */
.section:nth-child(4) li {
    float: left;
    width: 100%;
    margin: 0px 15px;
    text-align: center;
    /* border: 2px #fff solid; */
    /* border-radius: 10%; */
    transition: all .3s ease-in-out;
    
}

.section:nth-child(4) li:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.section:nth-child(4) li a {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 350px;
    
}

.section:nth-child(4) li a img {
    width: auto;
    height: 100%;
    transition: all 0.3s ease-in-out;
    border-radius: 2%;
    box-shadow: 
    inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0 0 2px rgb(255,255,255),
    0.7em 0.7em 1.6em rgba(0,0,0,0.4);
}

.section:nth-child(4) li a :not(img){
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 1;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition:all 0.3s ease-in-out;  
}

.section:nth-child(4) li a:hover :not(img){
    opacity: 1;
    transition:all 0.3s ease-in-out;
}

.section:nth-child(4) li a:hover img {
    filter: blur(2px) brightness(60%);
    transition:all 0.3s ease-in-out;
}

.section:nth-child(4) li a h4 {
    top: 50%;
    /* line-height: 60px; */
}

.section:nth-child(4) .works {
    width: 876px;
    margin: 0 auto;
}

.fp-prev,
.fp-next {
    position: absolute;
    /* width: 10px !important;
    height: 10px !important; */
    /* border:none !important */
}

.fp-prev {
    top: 384px;
    left: 6%!important;
    /* background: url(../img/left_arrow.png) */
}

.fp-next {
    top: 384px;
    right: 0
    /* background: url(../img/right_arrow.png) */
}

/* Contact */
.section:nth-child(5) {
    text-align: center;
}

.section:nth-child(5) img {
    margin-top: -500px;
}

.line,
.list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 300px;
    background-color: #fff;
}

.list div:nth-child(1) {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 100px;
    height: 60px;
}

.list div:nth-child(2) {
    position: absolute;
    top: 180px;
    left: -100px;
    width: 100px;
    height: 60px;
}

.list div:nth-child(3) {
    position: absolute;
    top: 280px;
    left: 10px;
    width: 100px;
    height: 60px;
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 479px) {

    /* shared styles */

    html {
        font-size: 21.33px
    }

    body {
        position: relative;
    }

    #fp-nav {
        position: absolute;
        top: 31rem;
    }

    #menu {
        display: none;
    }

    /* section 1 */

    #fullpage .section:nth-child(1) .wrapper {
        width: 15rem;
        margin: -8rem 0 0 -27rem;
    }

    #fullpage .section:nth-child(1) {
        background: url(../img/bg2.jpeg) no-repeat;
        background-size: 47%;
    }

    #fullpage .section:nth-child(1) p {
        font-size: 1rem;
    }

    #fullpage .section:nth-child(1) h1 {
        font-size: 1rem;
    }

    /* section 2 */

    #fullpage .section:nth-child(2) .wrapper {
        width: 15rem;
        margin: auto;
    }

    .title {
        top: 0px;
        height: 4rem;
        margin-top: 1.5rem;
    }

    .title p {
        left: 0px!important;
    }

    #fullpage .section:nth-child(2) .headshot {
        display: none
    }

    #fullpage .section:nth-child(2)  .text {
        width: 16rem;
        height: 14rem;
        margin:0 auto 15rem;
        font-size: 0.85rem;
    }

    #fullpage .section:nth-child(2) .text p {
        line-height: 1.65rem;
    }

    /* section 3 */

}

/* tablet */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    html {
        font-size: 50px
    }
}